
.textbox{
  width:70%;
  font-size:30px;
  text-align: center;
}
    
.g-image{

  align-content: center;
  margin-top:10%;
  margin-left: 15%;
  width: 70vw;
  height: 25vh;
}


.btn-large{
  font-size: 3vh;
  
}

.exit{
  margin-left: 5%;
  text-align: left;
}
.cr{
  padding:10%;
  font-size: 300%;
}
.hint{
  font-size:200%;
}
.questN{
  font-size: 200%;
  font-style:italic ;
}
.quest{
  font-size: 225%;
}

.toggleGame-button-line {
  width: 2vh;
  height: 0.25vh;
  background: black;
}
.spaceGame-btw-logo-items {
  flex: .95;
}
.gameTitle{
  text-decoration: underline;
}
.imgG{
  width: 85%;
  height: auto;
}
