
.textbox{
  width:70%;
  font-size:30px;
  text-align: center;
}
    
.g-image{

  align-content: center;
  margin-top:10%;
  margin-left: 15%;
  width: 30vw;
  height: 25vh;
}


.btn-lg {
  font-size: 3vh;
  color: white;
}

.exit{
  /* margin-top: 5%;
  margin-left: 5%; */
  margin: 2vh 2vh 2vh 2vh;
  text-align: left;

}

.exit a{
  text-decoration: none; 
  color: white;
}

.start {
  margin: 2vh 2vh 2vh 2vh;
}

.hint{
  font-size:200%;
}
.questN{
  font-size: 200%;
  font-style:italic ;
}
.quest{
  font-size: 225%;
}

.toggleGame-button-line {
  width: 2vh;
  height: 0.25vh;
  background: black;
}
.spaceGame-btw-logo-items {
  flex: .95;
}
.gameTitle{
  text-decoration: underline;
}
.imgG{
  width: 85%;
  height: auto;
}

.gameButton{
  font-size:250%
}

/* THIS IS FOR GAME LIST */
.game-list{
  display: grid;
  width: 50%;
  margin-left: 6.5%;
}

.card{
  list-style-type: none;
}

.card-img-top{
  height: 30vh;
  width: 100%;
}

.card-text{
  font-size: 200%;
  text-align: left;
}

/* THIS IS FOR QUESTION DISPLAY */
.imgG{
  align-content: center;
  margin-top:10%;
  margin-left: 15%;
  margin-right: 15%;
  width: 60%;
  height: 25vh;
}

/* THIS IS FOR NUMBER ANSWER STYLE */
#numPad{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  width: 50%;
  margin-left: 25%;
  padding: 5px;
  justify-items: space-evenly;
}

.number{
  /* display: inline-block; */
  padding: 10% 10%;
  font-size:250%
}
.number:hover{
  background-color: greenyellow;
}


/* THIS IS FOR TEXT BOX ANSWER */
#textAnswer{
  /* display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px; */
  width: 50%;
  /* margin-top: 2%;
  margin-left: 27.5%;
  margin-right: 37.5%; */
  margin: auto;
  padding: 5px;
}

#answerBox{
  width: 100%;
}

#submitBttn{
  text-align: center;
  margin: 1vh 1vh 0 1vh;
}

.submit {
  width: 100%;
  margin: auto;
}

.Location{
  font-size:200%;
}

#timer {
  font-size: 5vh;
}
.prog{
  width: 75%;
  padding-bottom: 4vh;
  white: red;
}
