.about-container {
  background-image: url(../home/home-background.jpg);
  min-height: 100vh;
  max-width: 100%;
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.a-image{
    
    align-content: center;
    margin-top:10%;
    margin-left: 15%;
    width: 70vw;
    height: 40vh;
  }