<<<<<<< HEAD


#bg{

    position: fixed;
    top:0;
    left: 0;
    z-index: -1;
  }

  h1{
    font-size:6em;
    color: white;
    line-height: 0.8em;
    text-align: left;
  }
  h1 span{
    color: red;
  }

  hr{
    margin: 40px 0;
    border-top:none;
  }
  p{
    color:white;
=======
.about-container {
  background-image: url(../home/home-background.jpg);
  min-height: 100vh;
  max-width: 100%;
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  position: relative; 
}

.heading h1{
  font-size: 125px;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
}

.mission-statement {
  /* max-width: 500px; */
  margin: 0 auto;
}

.statement-header h3 {
  font-size: 75px;
}

.statement-body p {
  margin: 0 auto;
  max-width: 600px;
  font-size: 35px;
}

.section-divider {
  color: rgb(255, 187, 0);
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 30px;
}
.a-image{
    margin-top:10%;
    width: 70vw;
    height: 40vh;
>>>>>>> 79eaa841e20a1da03c313e9207327319e022b9de
  }