.landing{
background: #bdc3c7;  /* fallback for old browsers */
<<<<<<< HEAD
background: -webkit-linear-gradient(#2c3e50, #bdc3c7);
background: linear-gradient( #2c3e50, #bdc3c7); 
top:0;
bottom:0;
=======
background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position: relative;
min-height: 100vh;
>>>>>>> 79ef43e87d7ddc6d6ae96024c5b4c9ed6d933041
}
.banner-text{
    background-color: black;
    opacity: 8;
    width: 80%;
    margin-left: auto;
    margin-right:auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.banner-text h1{
    font-size: 50px;
    font-weight:bold;
    color:white;

}
 .hp-image{
    width: 80%;
    margin-top:2%;

} 
#headline {
    margin: 50px 0;
    text-align: center;
    font-size: 400%;
    text-decoration: underline;
}

#intro ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
    font-size: 250%;
}
li {
    margin: 16px 0;
}
 