.landing{
    /* background: #bdc3c7; 
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7); 
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7); */
    background-image: url('home-background.jpg');
    position: relative;
    min-height: 100vh;
    text-align: center;

}
.banner-text{
    background-color: black;
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    padding: 25px 25px 25px 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.banner-text h1{
    font-size: 75px;
    /* font-weight:bold; */
    color:white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner-text h4{
    color: white;
    font-size: 65px;

}

#play-now-button {
    margin-top: 25px;
}

#play-now-button .btn-lg {
    size: 50px;
}

.hp-image{
    width: 100%;
} 
#headline {
    margin: 50px 0;
    text-align: center;
}


#intro {
    text-align: center;
    color: white;
    max-width: 550px;
    margin: 0 auto;
}

#intro ul {
    display: inline-block;
    /* width: 75%; */
    margin: 0 auto;
    list-style-type: none;
    max-width: 550px;
    text-align: center;
    line-height: 1.6;
    font-size: 250%;
    color: white;

}

#intro ul strong {
    font-size: 100px;
}

.intro-dividers {
    color: rgb(255, 187, 0);
    font-size: 250%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    /* margin: 0 auto; */
}

#intro ul li {
    float: center;

}

/* testing */
#intro strong {
    font-size: 80px;
    margin-top: 15px;
}

#intro p {
    font-size: 45px;
}

#intro ol {
    font-size: 30px;
    text-align: left;
    margin-left: 50px;
}