.landing{
background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position: relative;
min-height: 100vh;
}
.banner-text{
    background-color: black;
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    padding: 25px 25px 25px 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.banner-text h1{
    font-size: 75px;
    /* font-weight:bold; */
    color:white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner-text h4{
    color: white;
    font-size: 65px;

}

#play-now-button {
    margin-top: 25px;
}

#play-now-button .btn-lg {
    size: 50px;
}

 .hp-image{
    width: 100%;

} 
#headline {
    margin: 50px 0;
    text-align: center;
    font-size: 400%;
    text-decoration: underline;
}

#intro ul {
    list-style-type: none;
    max-width: 550px;
    margin: auto;
    text-align: center;
    line-height: 1.6;
    font-size: 250%;
}

#intro ul strong {
    font-size: 100px;
}
li {
    margin: 16px 0;
}
 