.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2.5vh;
    width: 2vh;
    background: transparent;
    border: none;
    margin-right: 1.5vh;
    margin-left: 1vh;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button-line {
    width: 3vh;
    height: 0.3vh;
    background: white;

}