.side-drawer {
    height: 100%;
    background: gray;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    z-index: 100;
}

.side-drawer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    height: 100%;
}