.side-drawer {
    height: 100%;
    background: #2B2D2F;
    position: fixed;
    top: 0;
    right: 0;
    width: 65%;
    max-width: 75%;
    z-index: 100;
    /* transition animation - side drawer comes in from the right*/
    transform: translateX(100%);
    transition: transform 0.25s ease-in; 

}

.side-drawer ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top: 1vh;
    margin-top: 5em;
    margin-left: 1em;
}

.side-drawer li {
    display:flex;
    align-content: left;
}   

.side-drawer a {
    text-decoration: none !important;
    font-size: 3vh;
    color: white;
}

.side-drawer a:active {
    color: rgb(255, 187, 0);
}
.side-drawer-divider {
    padding: 0;
    /* margin-top: 2em; */
    /* margin-bottom: 0; */
    width: 90%;
    border-top: 5px solid rgb(255, 187, 0)
  }

.admin-section {
    color: white;
    font-size: 3vh;
    padding-right: 3vh
}
/* animating the side drawer - default position */
.side-drawer.open {
    transform: translateX(0);
}

