
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.bodyTitle{
  list-style-type: none;
  font-size: 20px;
  text-align-last: center;
  padding: 5em;
}

.bodyImage{
  width: 30em;
  height: 40vh;
  
}

footer {
  bottom:0;
}

.footer-all {
  background-color: #292c2f;
  box-sizing: border-box;
  width: 100%;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  margin-top: 80px;
}

.footer-social {
  margin: 0 auto 20px;
}

.footer-social a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 27px;
  color: white;
  line-height: 38px;
  margin-left: 3px;
}

.footer-info {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
.footer-info a{
  color:white;
  padding:10px;
  text-decoration: none;
}


.footer-all .footer-left, .footer-distributed .footer-right {
  text-align: center;
}